/* Selector de Category */
.dropdown {
    display: inline-block;
    background: transparent;
    border-style: none;
    padding-left: 27rem;
    color: #fff;
}


.btn .btn-secondary .dropdown-toggle {
    align-items: center;
    z-index: 10;
    font-weight: 500;
    font-size: 15px;
    outline: none;
    cursor: pointer; 
}

.btn-secondary {
    appearance: none;
    background: transparent;
    border-style: none;
    color: #b0dd0b; 
    font-weight: 500;
}

.btn-secondary:hover {
    color: #fff;
    background-color: transparent;
    border-color: #b0dd0b;
}

.dropdown-menu[data-bs-popper] {
    min-width: 2rem;
    right: 0;
    left: 27rem;
    margin-top: 0.125rem;
}