.myHeader {
    padding: 0;
    background: #111;
    height: 6rem;
    position: relative;
    width: 100%;
}

.myHeader button {
   visibility: hidden;
}

/* Nombre e-commerce */
.title {
    text-decoration: none;
    cursor: pointer;
}

.title h1 {
    margin: 0rem;
    padding-left: 7.5rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}

.title h1:hover {
    color: #b0dd0b;
}    
/* Menu Ham */
.menu img {
    display: inline-block;
    visibility: visible;
    width: 27px;
    right: 2rem;
    cursor: pointer;
    z-index: 10;
    position: fixed;
    background: transparent;
}



